In [106]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error

In [107]:
train = pd.read_csv('train_loan_data.csv')
test = pd.read_csv('test_loan_data.csv')
result = pd.read_csv('test_results.csv')

In [146]:
train

,addr_state,annual_inc,earliest_cr_line,emp_length,emp_title,fico_range_high,fico_range_low,grade,home_ownership,application_type,...,purpose,revol_bal,revol_util,sub_grade,term,title,total_acc,verification_status,loan_status,source
0,CO,85000.0,Jul-1997,10+ years,Deputy,744.0,740.0,E,MORTGAGE,Individual,...,debt_consolidation,5338.0,93.6,E1,60 months,Debt consolidation,8.0,Source Verified,Charged Off,train
1,CA,40000.0,Apr-1987,10+ years,Department of Veterans Affairs,724.0,720.0,B,RENT,Individual,...,debt_consolidation,19944.0,60.3,B1,36 months,Credit Loan,12.0,Verified,Fully Paid,train
2,FL,60000.0,Aug-2007,10+ years,Marble polishing,679.0,675.0,B,MORTGAGE,Individual,...,debt_consolidation,23199.0,88.5,B5,36 months,Debt consolidation,16.0,Source Verified,Fully Paid,train
3,IL,100742.0,Sep-1980,10+ years,printer,664.0,660.0,B,MORTGAGE,Individual,...,debt_consolidation,18425.0,69.0,B2,36 months,Debt consolidation,19.0,Source Verified,Fully Paid,train
4,MD,80000.0,Jul-1999,10+ years,Southern Mgmt,669.0,665.0,F,RENT,Individual,...,debt_consolidation,34370.0,90.0,F5,60 months,Debt Connsolidation,59.0,Verified,Fully Paid,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,SC,81000.0,Feb-2000,10+ years,Sports Group Manager,664.0,660.0,G,MORTGAGE,Individual,...,debt_consolidation,20201.0,93.5,G3,60 months,Debt consolidation,42.0,Verified,Charged Off,train
79996,NH,45000.0,Aug-1995,10+ years,Web Designer,684.0,680.0,C,MORTGAGE,Individual,...,debt_consolidation,6145.0,56.9,C1,36 months,Debt consolidation,14.0,Not Verified,Fully Paid,train
79997,NY,90000.0,Apr-2005,< 1 year,Program Officer,724.0,720.0,B,OWN,Individual,...,debt_consolidation,3910.0,25.6,B4,36 months,Debt consolidation,26.0,Source Verified,Fully Paid,train
79998,TX,94000.0,Apr-1992,3 years,Sr. Business Analyst,669.0,665.0,D,MORTGAGE,Individual,...,credit_card,11897.0,49.4,D5,60 months,Credit card refinancing,48.0,Source Verified,Fully Paid,train
79999,NY,1100000.0,Jun-1999,2 years,Managing Director,664.0,660.0,B,MORTGAGE,Individual,...,debt_consolidation,586259.0,96.7,B4,36 months,Debt consolidation,32.0,Source Verified,Fully Paid,train

# Explore and understand the data

In [110]:
train.shape, test.shape, result.shape

((80000, 28), (20000, 27), (20000, 1))

In [111]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   addr_state            80000 non-null  object
 1   annual_inc            80000 non-null  float64
 2   earliest_cr_line      80000 non-null  object
 3   emp_length            75412 non-null  object
 4   emp_title             74982 non-null  object
 5   fico_range_high       80000 non-null  float64
 6   fico_range_low        80000 non-null  float64
 7   grade                 80000 non-null  object
 8   home_ownership        80000 non-null  object
 9   application_type      80000 non-null  object
 10  initial_list_status   80000 non-null  object
 11  int_rate              80000 non-null  float64
 12  loan_amnt             80000 non-null  float64
 13  num_actv_bc_tl        76052 non-null  float64
 14  mort_acc              77229 non-null  float64
 15  tot_cur_bal           76052 non-null  float64
 16  open_acc              80000 non-null  float64
 17  pub_rec               80000 non-null  float64
 18  pub_rec_bankruptcies  79969 non-null  float64
 19  purpose               80000 non-null  object
 20  revol_bal             80000 non-null  float64
 21  revol_util            79947 non-null  float64
 22  sub_grade             80000 non-null  object
 23  term                  80000 non-null  object
 24  title                 79030 non-null  object
 25  total_acc             80000 non-null  float64
 26  verification_status   80000 non-null  object
 27  loan_status           80000 non-null  object
dtypes: float64(14), object(14)
memory usage: 17.1+ MB

In [112]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   addr_state            20000 non-null  object
 1   annual_inc            20000 non-null  float64
 2   earliest_cr_line      20000 non-null  object
 3   emp_length            18742 non-null  object
 4   emp_title             18622 non-null  object
 5   fico_range_high       20000 non-null  float64
 6   fico_range_low        20000 non-null  float64
 7   grade                 20000 non-null  object
 8   home_ownership        20000 non-null  object
 9   application_type      20000 non-null  object
 10  initial_list_status   20000 non-null  object
 11  int_rate              20000 non-null  float64
 12  loan_amnt             20000 non-null  float64
 13  num_actv_bc_tl        18989 non-null  float64
 14  mort_acc              19296 non-null  float64
 15  tot_cur_bal           18989 non-null  float64
 16  open_acc              20000 non-null  float64
 17  pub_rec               20000 non-null  float64
 18  pub_rec_bankruptcies  19989 non-null  float64
 19  purpose               20000 non-null  object
 20  revol_bal             20000 non-null  float64
 21  revol_util            19987 non-null  float64
 22  sub_grade             20000 non-null  object
 23  term                  20000 non-null  object
 24  title                 19753 non-null  object
 25  total_acc             20000 non-null  float64
 26  verification_status   20000 non-null  object
dtypes: float64(14), object(13)
memory usage: 4.1+ MB

In [113]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   loan_status  20000 non-null  object
dtypes: object(1)
memory usage: 156.4+ KB

In [85]:
# Assigning a new field to identify train and test data

In [114]:
train['source'] = 'train'
test['source'] = 'test'

In [116]:
data = pd.concat([train,test])

In [117]:
train.shape,test.shape,data.shape

((80000, 29), (20000, 28), (100000, 29))

In [118]:
data.duplicated().sum()

0

In [119]:
data.isna().sum()

addr_state                  0
annual_inc                  0
earliest_cr_line            0
emp_length               5846
emp_title                6396
fico_range_high             0
fico_range_low              0
grade                       0
home_ownership              0
application_type            0
initial_list_status         0
int_rate                    0
loan_amnt                   0
num_actv_bc_tl           4959
mort_acc                 3475
tot_cur_bal              4959
open_acc                    0
pub_rec                     0
pub_rec_bankruptcies       42
purpose                     0
revol_bal                   0
revol_util                 66
sub_grade                   0
term                        0
title                    1217
total_acc                   0
verification_status         0
loan_status             20000
source                      0
dtype: int64

In [120]:
data.describe()

,annual_inc,fico_range_high,fico_range_low,int_rate,loan_amnt,num_actv_bc_tl,mort_acc,tot_cur_bal,open_acc,pub_rec,pub_rec_bankruptcies,revol_bal,revol_util,total_acc
count,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,95041.000000,96525.000000,9.504100e+04,100000.000000,100000.000000,99958.000000,1.000000e+05,99934.000000,100000.000000
mean,7.613644e+04,700.031260,696.031100,13.238209,14408.428500,3.630517,1.673670,1.415093e+05,11.603230,0.214940,0.135827,1.626783e+04,51.861263,25.033960
std,7.265827e+04,31.741546,31.740792,4.771758,8725.405078,2.254231,2.000409,1.586730e+05,5.488242,0.577671,0.381407,2.250461e+04,24.505807,12.027108
min,0.000000e+00,664.000000,660.000000,5.310000,750.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000e+00,0.000000,2.000000
25%,4.600000e+04,674.000000,670.000000,9.750000,7900.000000,2.000000,0.000000,2.963500e+04,8.000000,0.000000,0.000000,5.935000e+03,33.400000,16.000000
50%,6.500000e+04,694.000000,690.000000,12.740000,12000.000000,3.000000,1.000000,8.092800e+04,11.000000,0.000000,0.000000,1.110100e+04,52.200000,23.000000
75%,9.000000e+04,714.000000,710.000000,15.990000,20000.000000,5.000000,3.000000,2.108750e+05,14.000000,0.000000,0.000000,1.967500e+04,70.800000,32.000000
max,9.522972e+06,850.000000,845.000000,30.990000,40000.000000,32.000000,32.000000,5.172185e+06,80.000000,24.000000,8.000000,1.023940e+06,152.600000,162.000000

In [121]:
 data.shape

(100000, 29)

# Data Preprocessing

In [122]:
data['title'] = data['title'].fillna(data['purpose'])

In [123]:
data.isna().sum()

addr_state                  0
annual_inc                  0
earliest_cr_line            0
emp_length               5846
emp_title                6396
fico_range_high             0
fico_range_low              0
grade                       0
home_ownership              0
application_type            0
initial_list_status         0
int_rate                    0
loan_amnt                   0
num_actv_bc_tl           4959
mort_acc                 3475
tot_cur_bal              4959
open_acc                    0
pub_rec                     0
pub_rec_bankruptcies       42
purpose                     0
revol_bal                   0
revol_util                 66
sub_grade                   0
term                        0
title                       0
total_acc                   0
verification_status         0
loan_status             20000
source                      0
dtype: int64

In [ ]:
#Drop the records 
#REplace with other col values
#replace with other values

In [124]:
data.dropna(subset=['pub_rec_bankruptcies','revol_util'], inplace = True)

In [128]:
data['emp_length'].unique()

array(['10+ years', nan, '3 years', '< 1 year', '1 year', '8 years',
       '7 years', '4 years', '2 years', '5 years', '6 years', '9 years'],
      dtype=object)

In [133]:
data['emp_length'].replace({'10+ years':'10','3 years':'3','< 1 year':'1','1 year':'1','8 years':'8','7 years':'7','4 years':'4','2 years':'2','5 years':'5','6 years':'6','9 years':'9',' ':'0'}, inplace = True)

In [135]:
data['emp_length'] = data['emp_length'].fillna(0)

In [137]:
data['emp_length'] = data['emp_length'].astype('int')

In [139]:
data['emp_title'] = data['emp_title'].fillna('Not Known')

In [141]:
data.dropna(subset=['tot_cur_bal'], inplace = True)

In [143]:
data.isna().sum()

addr_state                  0
annual_inc                  0
earliest_cr_line            0
emp_length                  0
emp_title                   0
fico_range_high             0
fico_range_low              0
grade                       0
home_ownership              0
application_type            0
initial_list_status         0
int_rate                    0
loan_amnt                   0
num_actv_bc_tl              0
mort_acc                    0
tot_cur_bal                 0
open_acc                    0
pub_rec                     0
pub_rec_bankruptcies        0
purpose                     0
revol_bal                   0
revol_util                  0
sub_grade                   0
term                        0
title                       0
total_acc                   0
verification_status         0
loan_status             18978
source                      0
dtype: int64

In [144]:
train.corr()

C:\Users\Sai\AppData\Local\Temp\ipykernel_7116\2189804198.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  train.corr()

,annual_inc,fico_range_high,fico_range_low,int_rate,loan_amnt,num_actv_bc_tl,mort_acc,tot_cur_bal,open_acc,pub_rec,pub_rec_bankruptcies,revol_bal,revol_util,total_acc
annual_inc,1.000000,0.064655,0.064655,-0.069414,0.319863,0.106228,0.218601,0.430759,0.134215,-0.008990,-0.045238,0.310651,0.044752,0.170555
fico_range_high,0.064655,1.000000,1.000000,-0.402389,0.099921,-0.108283,0.092303,0.135284,0.014905,-0.204863,-0.204737,0.023540,-0.453448,0.013385
fico_range_low,0.064655,1.000000,1.000000,-0.402393,0.099921,-0.108283,0.092303,0.135286,0.014905,-0.204866,-0.204740,0.023543,-0.453448,0.013385
int_rate,-0.069414,-0.402389,-0.402393,1.000000,0.144910,0.019435,-0.078283,-0.087000,-0.004795,0.055351,0.060317,-0.028978,0.239496,-0.040937
loan_amnt,0.319863,0.099921,0.099921,0.144910,1.000000,0.197615,0.226006,0.310725,0.183501,-0.062819,-0.088613,0.319811,0.104931,0.204682
num_actv_bc_tl,0.106228,-0.108283,-0.108283,0.019435,0.197615,1.000000,0.031868,0.097332,0.544174,-0.035742,-0.060311,0.299474,0.103162,0.292003
mort_acc,0.218601,0.092303,0.092303,-0.078283,0.226006,0.031868,1.000000,0.530393,0.113992,-0.007052,0.006431,0.209552,0.030738,0.362553
tot_cur_bal,0.430759,0.135284,0.135286,-0.087000,0.310725,0.097332,0.530393,1.000000,0.238560,-0.073238,-0.098221,0.456139,0.084849,0.299713
open_acc,0.134215,0.014905,0.014905,-0.004795,0.183501,0.544174,0.113992,0.238560,1.000000,-0.010347,-0.013418,0.220704,-0.144939,0.700375
pub_rec,-0.008990,-0.204863,-0.204866,0.055351,-0.062819,-0.035742,-0.007052,-0.073238,-0.010347,1.000000,0.685052,-0.093533,-0.072720,0.018624
pub_rec_bankruptcies,-0.045238,-0.204737,-0.204740,0.060317,-0.088613,-0.060311,0.006431,-0.098221,-0.013418,0.685052,1.000000,-0.114878,-0.090135,0.047008
revol_bal,0.310651,0.023540,0.023543,-0.028978,0.319811,0.299474,0.209552,0.456139,0.220704,-0.093533,-0.114878,1.000000,0.233351,0.184517
revol_util,0.044752,-0.453448,-0.453448,0.239496,0.104931,0.103162,0.030738,0.084849,-0.144939,-0.072720,-0.090135,0.233351,1.000000,-0.106336
total_acc,0.170555,0.013385,0.013385,-0.040937,0.204682,0.292003,0.362553,0.299713,0.700375,0.018624,0.047008,0.184517,-0.106336,1.000000

In [147]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94984 entries, 0 to 19999
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   addr_state            94984 non-null  object
 1   annual_inc            94984 non-null  float64
 2   earliest_cr_line      94984 non-null  object
 3   emp_length            94984 non-null  int32
 4   emp_title             94984 non-null  object
 5   fico_range_high       94984 non-null  float64
 6   fico_range_low        94984 non-null  float64
 7   grade                 94984 non-null  object
 8   home_ownership        94984 non-null  object
 9   application_type      94984 non-null  object
 10  initial_list_status   94984 non-null  object
 11  int_rate              94984 non-null  float64
 12  loan_amnt             94984 non-null  float64
 13  num_actv_bc_tl        94984 non-null  float64
 14  mort_acc              94984 non-null  float64
 15  tot_cur_bal           94984 non-null  float64
 16  open_acc              94984 non-null  float64
 17  pub_rec               94984 non-null  float64
 18  pub_rec_bankruptcies  94984 non-null  float64
 19  purpose               94984 non-null  object
 20  revol_bal             94984 non-null  float64
 21  revol_util            94984 non-null  float64
 22  sub_grade             94984 non-null  object
 23  term                  94984 non-null  object
 24  title                 94984 non-null  object
 25  total_acc             94984 non-null  float64
 26  verification_status   94984 non-null  object
 27  loan_status           76006 non-null  object
 28  source                94984 non-null  object
dtypes: float64(14), int32(1), object(14)
memory usage: 21.4+ MB

In [163]:
data.head(10)

,addr_state,annual_inc,earliest_cr_line,emp_length,emp_title,fico_range_high,fico_range_low,grade,home_ownership,application_type,...,purpose,revol_bal,revol_util,sub_grade,term,title,total_acc,verification_status,loan_status,source
0,CO,85000.0,Jul-1997,10,Deputy,744.0,740.0,E,MORTGAGE,Individual,...,debt_consolidation,5338.0,93.6,E1,60 months,Debt consolidation,8.0,Source Verified,Charged Off,train
1,CA,40000.0,Apr-1987,10,Department of Veterans Affairs,724.0,720.0,B,RENT,Individual,...,debt_consolidation,19944.0,60.3,B1,36 months,Credit Loan,12.0,Verified,Fully Paid,train
2,FL,60000.0,Aug-2007,10,Marble polishing,679.0,675.0,B,MORTGAGE,Individual,...,debt_consolidation,23199.0,88.5,B5,36 months,Debt consolidation,16.0,Source Verified,Fully Paid,train
3,IL,100742.0,Sep-1980,10,printer,664.0,660.0,B,MORTGAGE,Individual,...,debt_consolidation,18425.0,69.0,B2,36 months,Debt consolidation,19.0,Source Verified,Fully Paid,train
4,MD,80000.0,Jul-1999,10,Southern Mgmt,669.0,665.0,F,RENT,Individual,...,debt_consolidation,34370.0,90.0,F5,60 months,Debt Connsolidation,59.0,Verified,Fully Paid,train
5,CA,51488.0,May-1991,0,Not Known,679.0,675.0,D,MORTGAGE,Individual,...,home_improvement,10747.0,53.9,D3,36 months,Home improvement,37.0,Verified,Fully Paid,train
6,NY,100000.0,Oct-1986,10,RN,699.0,695.0,C,MORTGAGE,Individual,...,credit_card,32488.0,54.1,C1,36 months,Credit card refinancing,36.0,Verified,Fully Paid,train
8,FL,59292.0,Dec-2007,0,Not Known,664.0,660.0,B,MORTGAGE,Individual,...,debt_consolidation,1054.0,23.4,B4,36 months,debt_consolidation,23.0,Verified,Fully Paid,train
9,CA,65000.0,Jun-2004,1,Nurse,684.0,680.0,D,RENT,Individual,...,debt_consolidation,8991.0,64.7,D4,36 months,Debt consolidation,20.0,Source Verified,Fully Paid,train
10,WI,35000.0,Jul-1999,1,Carpenter,679.0,675.0,B,MORTGAGE,Individual,...,debt_consolidation,23293.0,71.7,B4,36 months,Debt consolidation,24.0,Source Verified,Fully Paid,train

In [164]:
data.nunique()

addr_state                 50
annual_inc               8548
earliest_cr_line          640
emp_length                 11
emp_title               40435
fico_range_high            38
fico_range_low             38
grade                       7
home_ownership              6
application_type            2
initial_list_status         2
int_rate                  351
loan_amnt                1395
num_actv_bc_tl             28
mort_acc                   28
tot_cur_bal             79019
open_acc                   56
pub_rec                    16
pub_rec_bankruptcies        9
purpose                    13
revol_bal               35493
revol_util               1087
sub_grade                  35
term                        2
title                    4350
total_acc                 110
verification_status         3
loan_status                 2
source                      2
dtype: int64

In [167]:
data['addr_state'].unique()

array(['CO', 'CA', 'FL', 'IL', 'MD', 'NY', 'WI', 'UT', 'TX', 'AL', 'KS',
       'AR', 'AZ', 'MI', 'MN', 'PA', 'LA', 'HI', 'NC', 'OK', 'ME', 'CT',
       'AK', 'NJ', 'IN', 'GA', 'MA', 'OR', 'NM', 'VA', 'TN', 'SC', 'NV',
       'WY', 'WA', 'WV', 'MO', 'OH', 'MS', 'KY', 'VT', 'DC', 'NE', 'ID',
       'NH', 'RI', 'SD', 'MT', 'DE', 'ND'], dtype=object)

In [168]:
data['addr_state'].value_counts(dropna=False)

CA    13712
TX     7877
NY     7621
FL     6600
IL     3697
NJ     3368
PA     3189
OH     3081
GA     3027
NC     2763
VA     2660
MI     2514
AZ     2377
MD     2167
MA     2137
CO     2096
WA     2067
MN     1699
IN     1631
MO     1514
TN     1492
NV     1440
CT     1341
WI     1241
OR     1223
SC     1202
AL     1168
LA     1125
KY      996
OK      876
KS      796
AR      704
UT      658
NM      511
HI      476
MS      456
NH      428
RI      408
WV      326
NE      301
DE      274
MT      267
AK      244
DC      230
SD      214
WY      206
VT      203
ME      147
ID      124
ND      110
Name: addr_state, dtype: int64

In [183]:
 process_column = ['addr_state', 'emp_title', 'grade','application_type','purpose','sub_grade','title','verification_status','home_ownership','initial_list_status']

for i in process_column:
    data[i] = data[i].map(data[i].value_counts())

In [184]:
data

,addr_state,annual_inc,emp_length,emp_title,fico_range_high,fico_range_low,grade,home_ownership,application_type,initial_list_status,...,purpose,revol_bal,revol_util,sub_grade,term,title,total_acc,verification_status,loan_status,source
0,2096,85000.0,10,230,744.0,740.0,6690,47301,93043,58294,...,55495,5338.0,93.6,1715,60,49089,8.0,37250,Charged Off,train
1,13712,40000.0,10,1716,724.0,720.0,27693,37194,93043,58294,...,55495,19944.0,60.3,5058,36,147,12.0,29304,Fully Paid,train
2,6600,60000.0,10,33906,679.0,675.0,27693,47301,93043,58294,...,55495,23199.0,88.5,5827,36,49089,16.0,37250,Fully Paid,train
3,3697,100742.0,10,3189,664.0,660.0,27693,47301,93043,58294,...,55495,18425.0,69.0,5335,36,49089,19.0,37250,Fully Paid,train
4,2167,80000.0,10,33906,669.0,665.0,2218,37194,93043,36690,...,55495,34370.0,90.0,293,60,3680,59.0,29304,Fully Paid,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1514,38500.0,4,33906,679.0,675.0,14279,37194,93043,58294,...,55495,5816.0,60.0,2548,36,49089,10.0,28430,NaN,test
19996,2660,80000.0,3,33906,674.0,670.0,14279,47301,93043,36690,...,55495,13886.0,75.1,2548,60,49089,30.0,37250,NaN,test
19997,7877,95000.0,10,92,729.0,725.0,27693,47301,93043,36690,...,55495,43166.0,60.7,5827,36,49089,29.0,37250,NaN,test
19998,6600,35000.0,10,5950,809.0,805.0,16264,47301,93043,58294,...,942,1110.0,4.4,4385,36,832,19.0,28430,NaN,test
19999,6600,30700.0,1,33906,664.0,660.0,6690,47301,93043,36690,...,55495,8910.0,78.8,1715,60,49089,19.0,29304,NaN,test

In [185]:
data['term'].unique()

array(['60', '36'], dtype=object)

In [187]:
data['term'].replace({' 60 months':'60',' 36 months':'36'}, inplace = True)

In [188]:
data=data.drop(['earliest_cr_line'], axis=1)

KeyError: "['earliest_cr_line'] not found in axis"

In [202]:
data['loan_status'].unique()

array(['Charged Off', 'Fully Paid', nan], dtype=object)

In [214]:
data['loan_status'].replace({'Charged Off':'0','Fully Paid':'1'}, inplace = True)

In [215]:
data

,addr_state,annual_inc,emp_length,emp_title,fico_range_high,fico_range_low,grade,home_ownership,application_type,initial_list_status,...,purpose,revol_bal,revol_util,sub_grade,term,title,total_acc,verification_status,loan_status,source
0,2096,85000.0,10,230,744.0,740.0,6690,47301,93043,58294,...,55495,5338.0,93.6,1715,60,49089,8.0,37250,0,train
1,13712,40000.0,10,1716,724.0,720.0,27693,37194,93043,58294,...,55495,19944.0,60.3,5058,36,147,12.0,29304,1,train
2,6600,60000.0,10,33906,679.0,675.0,27693,47301,93043,58294,...,55495,23199.0,88.5,5827,36,49089,16.0,37250,1,train
3,3697,100742.0,10,3189,664.0,660.0,27693,47301,93043,58294,...,55495,18425.0,69.0,5335,36,49089,19.0,37250,1,train
4,2167,80000.0,10,33906,669.0,665.0,2218,37194,93043,36690,...,55495,34370.0,90.0,293,60,3680,59.0,29304,1,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1514,38500.0,4,33906,679.0,675.0,14279,37194,93043,58294,...,55495,5816.0,60.0,2548,36,49089,10.0,28430,NaN,test
19996,2660,80000.0,3,33906,674.0,670.0,14279,47301,93043,36690,...,55495,13886.0,75.1,2548,60,49089,30.0,37250,NaN,test
19997,7877,95000.0,10,92,729.0,725.0,27693,47301,93043,36690,...,55495,43166.0,60.7,5827,36,49089,29.0,37250,NaN,test
19998,6600,35000.0,10,5950,809.0,805.0,16264,47301,93043,58294,...,942,1110.0,4.4,4385,36,832,19.0,28430,NaN,test
19999,6600,30700.0,1,33906,664.0,660.0,6690,47301,93043,36690,...,55495,8910.0,78.8,1715,60,49089,19.0,29304,NaN,test

In [216]:
train_preprocessed = data[data['source']=='train']

In [217]:
test_preprocessed = data[data['source']=='test']

In [218]:
train_preprocessed.drop(columns= ['source'], inplace = True)

C:\Users\Sai\AppData\Local\Temp\ipykernel_7116\2522153181.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [219]:
test_preprocessed.drop(columns= ['source','loan_status'], inplace = True)

C:\Users\Sai\AppData\Local\Temp\ipykernel_7116\1465199043.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [220]:
test_preprocessed = test_preprocessed.reset_index().drop(columns='index')

In [221]:
train_preprocessed.shape

(76006, 27)

In [222]:
test_preprocessed.shape

(18978, 26)

In [223]:
train_preprocessed.dtypes

addr_state                int64
annual_inc              float64
emp_length                int32
emp_title                 int64
fico_range_high         float64
fico_range_low          float64
grade                     int64
home_ownership            int64
application_type          int64
initial_list_status       int64
int_rate                float64
loan_amnt               float64
num_actv_bc_tl          float64
mort_acc                float64
tot_cur_bal             float64
open_acc                float64
pub_rec                 float64
pub_rec_bankruptcies    float64
purpose                   int64
revol_bal               float64
revol_util              float64
sub_grade                 int64
term                     object
title                     int64
total_acc               float64
verification_status       int64
loan_status              object
dtype: object

In [224]:
train_preprocessed.to_csv("train_preprocessed_2.csv", index = False)
test_preprocessed.to_csv("test_preprocessed_2.csv", index = False)